.recommended-friends {
  padding: 25px 0;
  margin: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends_tittle {
  font-size: 12px;
  color: var(--gray);
}
.recommended-friends span {
  margin: 110px 0;
  display: block;
  text-align: center;
  color: var(--gray);
}

.open-chat-header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-size: 15px;
  margin-bottom: 25px;
}
.open-chat-header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post-hashtags {
  text-transform: uppercase;
  margin-bottom: 7px;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.open-post__members-status {
  color: #f3a1b2;
}

.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count i:hover {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}

.main-screen {
  position: fixed;
}
