.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
  position: fixed;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotatecog 1.5s linear infinite;
}
